src/main/mule/test-project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f22816f1-2681-4338-91b1-91a7ee9d300a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="test-projectFlow" doc:id="60d0b30a-6bc2-4617-9705-6e3e8947a8ed" >
		<http:listener doc:name="Listener" doc:id="8962e54e-a362-4be7-93d4-b19a580bbf95" config-ref="HTTP_Listener_config" path="/test"/>
		<ee:transform doc:name="Transform Message" doc:id="aa09cd6c-8246-40be-a52d-c16d95bcc029" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "so it is going good"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="9a7a4a25-a4cd-41a0-98cd-8a975522ddce" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="ce21fd9d-7d5f-4f34-924e-874ceb78c8e3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "going good"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
